.main {
  background-image: url("./bg-intro-desktop.png");
  width: 100vw;
  height: 100vh;
  background-color: hsl(0, 100%, 74%);
  display: flex;
  font-family: poppins;
}

.info {
  /* background-color: aqua; */
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.data {
  /* background-color: red; */
  width: 50%;
  height: 100%;
}

.h2 {
  font-weight: 700;
  font-size: large;
}

.data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
